:root {
  --fondo: #4B4B4B;
  --texto: #006F9A;
  /* --titulo:#65D527; */
  --titulo: #63ea92;
  --fondo2: #FFFFFF;
  --texto2: #FF2E00;
  --titulo2: #444444;
  --fondo3: #e7d395;
  --texto3: #F3F2DA;
  --titulo3: #964B00;
}

.fondo {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-size: cover;
  position: relative;
  padding-top: 3%;
}

.fondo p {
  animation: zoomIn;
  animation-duration: 2s;
  margin-bottom: 3em;

}

.fondo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fondo .name,
.fondo .textos {
  color: var(--texto3);
  position: relative;
  
}

.fondo .tit {
  font-size: 3.5em;
}
.links-container{
  padding: 1em;
  margin-bottom: 4em;
}

a {
  margin:1em;
  padding: 1em;
  color:var(--texto2);
  cursor: pointer;

}
.name:hover{
  color:var(--titulo);
  transition: 0.5s ease-in-out;

}
.fondo .infor {
  padding-bottom: 1em;
  
}

.fondo .name {
  font-size: 1.3em;


}

.App {
  text-align: center;
}



.name::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--titulo);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0.9);
  transition: transform 0.3s ease-in-out;
}
.name:hover::before {
  transform-origin: left;
  transform: scaleX(0);
}

.name:hover {
  transition: 1s ease-in-out;
}


.texto {
  font-size: larger;
}

.stat1 {
  animation: fadeInLeft;
  animation-duration: 2s;
  margin-top: 3em;
}

.stat2 {
  animation: fadeInUp;
  animation-duration: 2.5s;
  margin-top: 3em;
}

.stat3 {
  animation: fadeInRight;
  animation-duration: 2s;
  margin-top: 3em;

}

.logo {
  width: 10rem;
  background: radial-gradient(circle, rgb(0, 0, 0) 30%, transparent 50%);
  margin: 3em;
}

.tituloLogo {
  display: flex;
  flex-direction: row;
  width: 100vh;


}
#tituloInformacion{
  font-size: 1.8em;

}
#cuadro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
}

.info #info {
  height: 15rem;
}



.fondo {
  background-color: var(--footer);
  scrollbar-color: var(--titulo) var(--fondo);
  scrollbar-width: auto;
  background-color: rgb(77, 74, 74);

}

#titInfo {
  padding: 0.2em;
  margin-bottom: 0.5em;
  box-shadow: 0px 6px 6px;
 
}


.dropdown-trigger dd {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;

}
.grid {
  display: flex;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
}
#titInfo :hover {
  transition: 0.5s ease-in-out;
  box-shadow: 0px 7px 7px var(--titulo);
  color:white;
}
/* .grid :hover{
  text-shadow:
  0 0 7px var(--fondo),
  0 0 42px var(--titulo2),
  0 0 82px var(--titulo),
  0 0 92px var(--titulo),
  0 0 102px var(--titulo),
  0 0 151px var(--titulo);
} */
.grid :hover{
  color:#63ea92
}
.info-container {
  width: 350px;
  padding: 1.5rem;
  border: 1px solid var(--fondo3);
  border-radius: 5px;
  background-color: var(--fondo);
  color:var(--fondo2);
  overflow-y: auto;
  max-height: 250px;
font-size: large;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#caja{
  margin-bottom:3em;
  padding-bottom: 4em;

}
#textInfo {
  background-color: var(--fondo2);
}

.dropdown-trigger {
  width: 20rem;
  margin-top: 4em;

}



/* -------------------------------agregado para flecha------------------------------- */

.stat-button {
  position: relative; /* Posiciona las flechas */
  padding: 0.5rem 1rem 0.5rem 1.5rem; /* Ajusta el espacio para las flechas */
}

.arrow-down {
  /* position: absolute; */
  top: 80%;
  right: 0.8rem;
  transform: translateY(-50%);
  background-color:black;
border-radius:1em;
border:0.1em solid var(--fondo2);
  width: 30%;
  padding: 0.1em 0.6em;
}
.arrow-down:hover{
  background-color:var(--fondo2);
  color:var(--fondo);
  border-radius:1em;

}

.arrow-up {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  display: none;
}

.stat.active .arrow-up {
  display: block;
}

/* ---------------------------------------------------------------------------------- */
@media (max-width: 576px) {
  .fondo {
    padding-top: 4%;

  }
  .name {
    text-align: right;
  }

  .name::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: var(--titulo);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .name:hover::before {
    transform-origin: right;
    transform: scaleX(0.5);

  }

  .logo {
    width: 10rem;
    margin-bottom: 3rem;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, transparent 55%);
  }

  .tituloLogo {
    display: flex;
    width: 94%;
    justify-content: space-between;

  }

  #nombre {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
  }

  #subtitulo {
    font-size: 1.4em;
  }

  #info {
    font-size: 1.2em;
    flex-direction: column;
    margin: 0.5em;

    width: 10rem;
  }

  .stat3 {
    animation: fadeInUp;
    animation-duration: 2.5s;


  }

  .stat2 {
    animation: fadeInRight;
    animation-duration: 2.5s;
  }

  .stat1 {
    animation: fadeInLeft;
    animation-duration: 2.5s;
  }

  .grid {
    width: 100%;
    /* Cambiar a 'repeat(2, 1fr)' para dos columnas en pantallas grandes */
    gap: 5px;
    font-size: 0.8em;
    flex-direction: column; /* Mostrar en una sola columna en móviles */

  }
  

  .info-container {
    max-width: 300px;
    /* Adjust as needed */
    max-height: 160px;
    overflow-y: auto;
    /* Enable vertical scrolling if content exceeds height */
    padding: 1rem;
    /* Add padding for better readability */
    border: 1px solid var(--fondo);
    /* Optional border for visual separation */
    border-radius: 5px;
    /* Optional rounded corners */
    background-color: var(--fondo);
    color: var(--texto3);
 position: absolute;
  top: 50%; /* Ajusta la posición vertical según sea necesario */
  left: 50%;
  transform: translate(0%, 0%); /* Centra la caja en la pantalla */
  z-index: 10; /* Asigna un índice z mayor para que la caja se superponga a otros elementos */

  }
  .name::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: var(--titulo);
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .name:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .name:hover {
    transition: 1s ease-in-out;
  }
  .link{
    display: flex;
    flex-direction: column;
    padding: 0;
    
  }

}